<!-- Navbar -->
<div class="navbar">
  <div class="container flex">
    <h1 class="logo">{{ title }}</h1>
    <div class="burger-menu"
      [class.active]="menuOpen"
      role="button"
      tabindex="0"
      (click)="toggleMenu()"
      (keyup.enter)="toggleMenu()"
      (keyup.space)="toggleMenu()"
      >
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav [class.active]="menuOpen">
      <ul>
        @for (item of navItems; track item) {
          <li>
            <a routerLink="/"
              [fragment]="item.fragment"
              [class.active]="activeLink === item.id"
            (click)="setActiveLink(item.id, $event)">{{ item.label }}</a>
          </li>
        }
      </ul>
    </nav>
  </div>
</div>
